openapi: 3.0.0
info:
  title: OpenSea API
  version: unknown
servers:
  - url: https://api.opensea.io/api/v1
components:
  securitySchemes:
    sec0:
      type: apiKey
      in: header
      name: X-API-KEY
security:
  - sec0: []
paths:
  /asset/{asset_contract_address}/{token_id}/:
    get:
      summary: Retrieve an asset
      description: ''
      operationId: retrieving-a-single-asset
      parameters:
        - name: asset_contract_address
          in: path
          description: Address of the contract for this NFT
          schema:
            type: string
            default: '0xb47e3cd837ddf8e4c57f05d70ab865de6e193bbb'
          required: true
        - name: token_id
          in: path
          description: Token ID for this item
          schema:
            type: string
            default: '1'
          required: true
        - name: X-API-KEY
          in: header
          description: Your API Key (contact us to request one!)
          schema:
            type: string
        - name: account_address
          in: query
          description: Address of an owner of the token.  If you include this, the response will include an `ownership` object that includes the number of tokens owned by the address provided instead of the `top_ownerships` object included in the standard response, which provides the number of tokens owned by each of the 10 addresses with the greatest supply of the token..
          schema:
            type: string
        - name: include_orders
          in: query
          description: A flag determining if order information should be included in the response.  The default value of this flag is false.
          schema:
            type: string
            default: 'false'
      deprecated: false
      security: []
  /assets:
    get:
      summary: Retrieve assets
      description: ''
      operationId: getting-assets
      parameters:
        - name: owner
          in: query
          description: The address of the owner of the assets
          schema:
            type: string
        - name: token_ids
          in: query
          description: An array of token IDs to search for (e.g. `?token_ids=1&token_ids=209`). Will return a list of assets with token_id matching any of the IDs in this array.
          schema:
            type: string
        - name: collection
          in: query
          description: Limit responses to members of a collection.  Case sensitive and must match the collection slug exactly. Will return all assets from all contracts in a collection.  For more information on collections, see our [collections documentation](/reference#retrieving-collections).
          schema:
            type: string
        - name: collection_slug
          in: query
          description: Limit responses to members of a collection.  Case sensitive and must match the collection slug exactly. Will return all assets from all contracts in a collection.  For more information on collections, see our [collections documentation](/reference#retrieving-collections).
          schema:
            type: string
        - name: collection_editor
          in: query
          schema:
            type: string
        - name: order_direction
          in: query
          description: Can be `asc` for ascending or `desc` for descending
          schema:
            type: string
            default: desc
        - name: asset_contract_address
          in: query
          description: The NFT contract address for the assets
          schema:
            type: string
        - name: asset_contract_addresses
          in: query
          description: 'An array of contract addresses to search for (e.g. `?asset_contract_addresses=0x1...&asset_contract_addresses=0x2...`). Will return a list of assets with contracts matching any of the addresses in this array. If "token_ids" is also specified, then it will only return assets that match each `(address, token_id)` pairing, respecting order. Also, `"sell_orders": null` prefetches sell orders when returning assets in a list view and `"auctions": [` shows a list of 3rd party auctions that are on-chain.'
          schema:
            type: string
        - name: limit
          in: query
          description: Limit. Defaults to 20, capped at 50.
          schema:
            type: string
            default: '20'
        - name: cursor
          in: query
          description: A cursor pointing to the page to retrieve
          schema:
            type: string
        - name: X-API-KEY
          in: header
          schema:
            type: string
        - name: include_orders
          in: query
          description: A flag determining if order information should be included in the response.
          schema:
            type: string
            default: 'false'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                       "next":"LXBrPTI5OTE2MDIxOQ%3D%3D",
                       "previous":null,
                       "assets":[
                          {
                             "id":299160222,
                             "num_sales":0,
                             "background_color":null,
                             "image_url":"https://lh3.googleusercontent.com/OIUpIvOXhqG8F-Wa948rxJcA8bg5lQGGaJ2yquegulYrD3nncituY5DcOi_wnpVumHU4qEBR-G-zBRNsQusbIgETVcTadt0r5arh32A",
                             "image_preview_url":"https://lh3.googleusercontent.com/OIUpIvOXhqG8F-Wa948rxJcA8bg5lQGGaJ2yquegulYrD3nncituY5DcOi_wnpVumHU4qEBR-G-zBRNsQusbIgETVcTadt0r5arh32A=s250",
                             "image_thumbnail_url":"https://lh3.googleusercontent.com/OIUpIvOXhqG8F-Wa948rxJcA8bg5lQGGaJ2yquegulYrD3nncituY5DcOi_wnpVumHU4qEBR-G-zBRNsQusbIgETVcTadt0r5arh32A=s128",
                             "image_original_url":null,
                             "animation_url":null,
                             "animation_original_url":null,
                             "name":"Planet 0310-MI-RII",
                             "description":null,
                             "external_link":null,
                             "asset_contract":{
                                "address":"0x495f947276749ce646f68ac8c248420045cb7b5e",
                                "asset_contract_type":"semi-fungible",
                                "created_date":"2020-12-02T17:40:53.232025",
                                "name":"OpenSea Collection",
                                "nft_version":null,
                                "opensea_version":"2.0.0",
                                "owner":102384,
                                "schema_name":"ERC1155",
                                "symbol":"OPENSTORE",
                                "total_supply":null,
                                "description":"",
                                "external_link":null,
                                "image_url":null,
                                "default_to_fiat":false,
                                "dev_buyer_fee_basis_points":0,
                                "dev_seller_fee_basis_points":0,
                                "only_proxied_transfers":false,
                                "opensea_buyer_fee_basis_points":0,
                                "opensea_seller_fee_basis_points":250,
                                "buyer_fee_basis_points":0,
                                "seller_fee_basis_points":250,
                                "payout_address":null
                             },
                             "permalink":"https://opensea.io/assets/0x495f947276749ce646f68ac8c248420045cb7b5e/101577219900953729483682340185834053539485491429073128558041914785105988026369",
                             "collection":{
                                "banner_image_url":null,
                                "chat_url":null,
                                "created_date":"2022-02-16T06:41:53.565898",
                                "default_to_fiat":false,
                                "description":"We were born in a diverse, ever changing, spectacular universe which keeps, even after millions of years, feeding our curiosity to uncover its mysteries and reach farther hidden places. This collection reflects the embedded diversity in the universe, and in ourselves, and provides each of us the opportunity to represent their unique personality.   \nExplore a collection of 6000 unique and algorithmically created colorful planets. Find still and moving planets, each with its own unique geography, moons, rings, and orbits. Their counts, colors and arrangement make for different complexities and provide some aesthetically pleasing scenery. Hurry up and reserve your place in space now.  \n\n## How to Navigate\n- Filter by \"Planet 01\" to \"Planet 20\" to find planets of 20 different styles\n- Filter by \"Planet XX01\" to \"Planet XX07\" to find still planets, and \"Planet XX08\" to \"Planet \"XX10\" to find moving ones",
                                "dev_buyer_fee_basis_points":"0",
                                "dev_seller_fee_basis_points":"1000",
                                "discord_url":null,
                                "display_data":{
                                   "card_display_style":"cover"
                                },
                                "external_url":null,
                                "featured":false,
                                "featured_image_url":null,
                                "hidden":false,
                                "safelist_request_status":"not_requested",
                                "image_url":"https://lh3.googleusercontent.com/IPf5tBHMv7dCDlOTJFeZbIi3vL4ONikq359W-fASBDxBwrwu6qfzfwqTMqh8fLs7wNueMurvSd77lsia7WZ3PH10YENdmDW5e1A1VA=s120",
                                "is_subject_to_whitelist":false,
                                "large_image_url":null,
                                "medium_username":null,
                                "name":"Planets of a Digital World",
                                "only_proxied_transfers":false,
                                "opensea_buyer_fee_basis_points":"0",
                                "opensea_seller_fee_basis_points":"250",
                                "payout_address":"0xe092ab4843725299968ed46ec6a6ae6c3232428e",
                                "require_email":false,
                                "short_description":null,
                                "slug":"planets-digital-world",
                                "telegram_url":null,
                                "twitter_username":null,
                                "instagram_username":null,
                                "wiki_url":null
                             },
                             "decimals":null,
                             "token_metadata":null,
                             "owner":{
                                "user":{
                                   "username":"NullAddress"
                                },
                                "profile_img_url":"https://storage.googleapis.com/opensea-static/opensea-profile/1.png",
                                "address":"0x0000000000000000000000000000000000000000",
                                "config":""
                             },
                             "sell_orders":null,
                             "creator":{
                                "user":{
                                   "username":"AItisticEngineer"
                                },
                                "profile_img_url":"https://storage.googleapis.com/opensea-static/opensea-profile/3.png",
                                "address":"0xe092ab4843725299968ed46ec6a6ae6c3232428e",
                                "config":""
                             },
                             "traits":[
                                
                             ],
                             "last_sale":null,
                             "top_bid":null,
                             "listing_date":null,
                             "is_presale":true,
                             "transfer_fee_payment_token":null,
                             "transfer_fee":null,
                             "token_id":"101577219900953729483682340185834053539485491429073128558041914785105988026369"
                          },
                          {
                             "id":299160219,
                             "num_sales":0,
                             "background_color":null,
                             "image_url":"https://lh3.googleusercontent.com/xbwAomX-LNegpzC7nfK9ACDA6GlmAJuMYHIP0X3briF6Md70nkSdDEoEUyQzEk_T5f56iSjqSvcRTmIQCP-fOfgCuZDzFnGWSPKeHQ",
                             "image_preview_url":"https://lh3.googleusercontent.com/xbwAomX-LNegpzC7nfK9ACDA6GlmAJuMYHIP0X3briF6Md70nkSdDEoEUyQzEk_T5f56iSjqSvcRTmIQCP-fOfgCuZDzFnGWSPKeHQ=s250",
                             "image_thumbnail_url":"https://lh3.googleusercontent.com/xbwAomX-LNegpzC7nfK9ACDA6GlmAJuMYHIP0X3briF6Md70nkSdDEoEUyQzEk_T5f56iSjqSvcRTmIQCP-fOfgCuZDzFnGWSPKeHQ=s128",
                             "image_original_url":null,
                             "animation_url":null,
                             "animation_original_url":null,
                             "name":"full snow moon 09",
                             "description":"My attempt to capture the majestic feminine of a full moon through colour and movement in my ‘arty’ abstractionism using a layering of digital techniques.",
                             "external_link":null,
                             "asset_contract":{
                                "address":"0x495f947276749ce646f68ac8c248420045cb7b5e",
                                "asset_contract_type":"semi-fungible",
                                "created_date":"2020-12-02T17:40:53.232025",
                                "name":"OpenSea Collection",
                                "nft_version":null,
                                "opensea_version":"2.0.0",
                                "owner":102384,
                                "schema_name":"ERC1155",
                                "symbol":"OPENSTORE",
                                "total_supply":null,
                                "description":"",
                                "external_link":null,
                                "image_url":null,
                                "default_to_fiat":false,
                                "dev_buyer_fee_basis_points":0,
                                "dev_seller_fee_basis_points":0,
                                "only_proxied_transfers":false,
                                "opensea_buyer_fee_basis_points":0,
                                "opensea_seller_fee_basis_points":250,
                                "buyer_fee_basis_points":0,
                                "seller_fee_basis_points":250,
                                "payout_address":null
                             },
                             "permalink":"https://opensea.io/assets/0x495f947276749ce646f68ac8c248420045cb7b5e/89251628251019127135783150474798842902821279268347685136567997309972058734593",
                             "collection":{
                                "banner_image_url":"https://lh3.googleusercontent.com/gLs5zFl3vVTOm3eqQl63z_kEenZNsbeaYsJd9oxWDmlzU2AQ_mL_6Jh-Y1cw5dPKw2KzjdSxwgY3O05B0RCdKFR_aCkxLO1yt4fHLg=s2500",
                                "chat_url":null,
                                "created_date":"2022-02-18T19:57:41.429402",
                                "default_to_fiat":false,
                                "description":"The full moon on feb 16th (snow moon) inspired a series of abstracts. The intention was to capture her majestic femininity through colour and movement. ",
                                "dev_buyer_fee_basis_points":"0",
                                "dev_seller_fee_basis_points":"1000",
                                "discord_url":null,
                                "display_data":{
                                   "card_display_style":"cover"
                                },
                                "external_url":null,
                                "featured":false,
                                "featured_image_url":"https://lh3.googleusercontent.com/o-de5j3CKewllk3TAzhsWMDal0Wpj-akv2GP9V1HSO2Sl0dfG4w88CYVi62GVUBJu9CGMR2ogk4T8B6am3B3I8osCBpWdr0ZAlA20J4=s300",
                                "hidden":false,
                                "safelist_request_status":"not_requested",
                                "image_url":"https://lh3.googleusercontent.com/hG1ua2qNPkh6eFfFgCzaWhzidU-d0J4BdrjpXKvk5ZPn9qQUO-18YU2kICjkcbKMYtYklXKPII8vOgVPbOc0-HC8eDWPf7yq6bfp_rs=s120",
                                "is_subject_to_whitelist":false,
                                "large_image_url":"https://lh3.googleusercontent.com/o-de5j3CKewllk3TAzhsWMDal0Wpj-akv2GP9V1HSO2Sl0dfG4w88CYVi62GVUBJu9CGMR2ogk4T8B6am3B3I8osCBpWdr0ZAlA20J4=s300",
                                "medium_username":null,
                                "name":"Snow Moon Abstracts",
                                "only_proxied_transfers":false,
                                "opensea_buyer_fee_basis_points":"0",
                                "opensea_seller_fee_basis_points":"250",
                                "payout_address":"0xc552a1a4acebd7d9aafde9e880ef0026b3ba1d71",
                                "require_email":false,
                                "short_description":null,
                                "slug":"snow-moon-abstracts",
                                "telegram_url":null,
                                "twitter_username":null,
                                "instagram_username":"yourart",
                                "wiki_url":null
                             },
                             "decimals":null,
                             "token_metadata":null,
                             "owner":{
                                "user":{
                                   "username":"NullAddress"
                                },
                                "profile_img_url":"https://storage.googleapis.com/opensea-static/opensea-profile/1.png",
                                "address":"0x0000000000000000000000000000000000000000",
                                "config":""
                             },
                             "sell_orders":null,
                             "creator":{
                                "user":{
                                   "username":"yourartylife"
                                },
                                "profile_img_url":"https://storage.googleapis.com/opensea-static/opensea-profile/31.png",
                                "address":"0xc552a1a4acebd7d9aafde9e880ef0026b3ba1d71",
                                "config":""
                             },
                             "traits":[
                                
                             ],
                             "last_sale":null,
                             "top_bid":null,
                             "listing_date":null,
                             "is_presale":true,
                             "transfer_fee_payment_token":null,
                             "transfer_fee":null,
                             "token_id":"89251628251019127135783150474798842902821279268347685136567997309972058734593"
                          }
                       ]
                    }
              schema:
                type: object
                properties:
                  next:
                    type: string
                    example: LXBrPTI5OTE2MDIxOQ%3D%3D
                  previous: {}
                  assets:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 299160222
                          default: 0
                        num_sales:
                          type: integer
                          example: 0
                          default: 0
                        background_color: {}
                        image_url:
                          type: string
                          example: https://lh3.googleusercontent.com/OIUpIvOXhqG8F-Wa948rxJcA8bg5lQGGaJ2yquegulYrD3nncituY5DcOi_wnpVumHU4qEBR-G-zBRNsQusbIgETVcTadt0r5arh32A
                        image_preview_url:
                          type: string
                          example: https://lh3.googleusercontent.com/OIUpIvOXhqG8F-Wa948rxJcA8bg5lQGGaJ2yquegulYrD3nncituY5DcOi_wnpVumHU4qEBR-G-zBRNsQusbIgETVcTadt0r5arh32A=s250
                        image_thumbnail_url:
                          type: string
                          example: https://lh3.googleusercontent.com/OIUpIvOXhqG8F-Wa948rxJcA8bg5lQGGaJ2yquegulYrD3nncituY5DcOi_wnpVumHU4qEBR-G-zBRNsQusbIgETVcTadt0r5arh32A=s128
                        image_original_url: {}
                        animation_url: {}
                        animation_original_url: {}
                        name:
                          type: string
                          example: Planet 0310-MI-RII
                        description: {}
                        external_link: {}
                        asset_contract:
                          type: object
                          properties:
                            address:
                              type: string
                              example: '0x495f947276749ce646f68ac8c248420045cb7b5e'
                            asset_contract_type:
                              type: string
                              example: semi-fungible
                            created_date:
                              type: string
                              example: '2020-12-02T17:40:53.232025'
                            name:
                              type: string
                              example: OpenSea Collection
                            nft_version: {}
                            opensea_version:
                              type: string
                              example: 2.0.0
                            owner:
                              type: integer
                              example: 102384
                              default: 0
                            schema_name:
                              type: string
                              example: ERC1155
                            symbol:
                              type: string
                              example: OPENSTORE
                            total_supply: {}
                            description:
                              type: string
                              example: ''
                            external_link: {}
                            image_url: {}
                            default_to_fiat:
                              type: boolean
                              example: false
                              default: true
                            dev_buyer_fee_basis_points:
                              type: integer
                              example: 0
                              default: 0
                            dev_seller_fee_basis_points:
                              type: integer
                              example: 0
                              default: 0
                            only_proxied_transfers:
                              type: boolean
                              example: false
                              default: true
                            opensea_buyer_fee_basis_points:
                              type: integer
                              example: 0
                              default: 0
                            opensea_seller_fee_basis_points:
                              type: integer
                              example: 250
                              default: 0
                            buyer_fee_basis_points:
                              type: integer
                              example: 0
                              default: 0
                            seller_fee_basis_points:
                              type: integer
                              example: 250
                              default: 0
                            payout_address: {}
                        permalink:
                          type: string
                          example: https://opensea.io/assets/0x495f947276749ce646f68ac8c248420045cb7b5e/101577219900953729483682340185834053539485491429073128558041914785105988026369
                        collection:
                          type: object
                          properties:
                            banner_image_url: {}
                            chat_url: {}
                            created_date:
                              type: string
                              example: '2022-02-16T06:41:53.565898'
                            default_to_fiat:
                              type: boolean
                              example: false
                              default: true
                            description:
                              type: string
                              example: |-
                                We were born in a diverse, ever changing, spectacular universe which keeps, even after millions of years, feeding our curiosity to uncover its mysteries and reach farther hidden places. This collection reflects the embedded diversity in the universe, and in ourselves, and provides each of us the opportunity to represent their unique personality.   
                                Explore a collection of 6000 unique and algorithmically created colorful planets. Find still and moving planets, each with its own unique geography, moons, rings, and orbits. Their counts, colors and arrangement make for different complexities and provide some aesthetically pleasing scenery. Hurry up and reserve your place in space now.  

                                ## How to Navigate
                                - Filter by "Planet 01" to "Planet 20" to find planets of 20 different styles
                                - Filter by "Planet XX01" to "Planet XX07" to find still planets, and "Planet XX08" to "Planet "XX10" to find moving ones
                            dev_buyer_fee_basis_points:
                              type: string
                              example: '0'
                            dev_seller_fee_basis_points:
                              type: string
                              example: '1000'
                            discord_url: {}
                            display_data:
                              type: object
                              properties:
                                card_display_style:
                                  type: string
                                  example: cover
                            external_url: {}
                            featured:
                              type: boolean
                              example: false
                              default: true
                            featured_image_url: {}
                            hidden:
                              type: boolean
                              example: false
                              default: true
                            safelist_request_status:
                              type: string
                              example: not_requested
                            image_url:
                              type: string
                              example: https://lh3.googleusercontent.com/IPf5tBHMv7dCDlOTJFeZbIi3vL4ONikq359W-fASBDxBwrwu6qfzfwqTMqh8fLs7wNueMurvSd77lsia7WZ3PH10YENdmDW5e1A1VA=s120
                            is_subject_to_whitelist:
                              type: boolean
                              example: false
                              default: true
                            large_image_url: {}
                            medium_username: {}
                            name:
                              type: string
                              example: Planets of a Digital World
                            only_proxied_transfers:
                              type: boolean
                              example: false
                              default: true
                            opensea_buyer_fee_basis_points:
                              type: string
                              example: '0'
                            opensea_seller_fee_basis_points:
                              type: string
                              example: '250'
                            payout_address:
                              type: string
                              example: '0xe092ab4843725299968ed46ec6a6ae6c3232428e'
                            require_email:
                              type: boolean
                              example: false
                              default: true
                            short_description: {}
                            slug:
                              type: string
                              example: planets-digital-world
                            telegram_url: {}
                            twitter_username: {}
                            instagram_username: {}
                            wiki_url: {}
                        decimals: {}
                        token_metadata: {}
                        owner:
                          type: object
                          properties:
                            user:
                              type: object
                              properties:
                                username:
                                  type: string
                                  example: NullAddress
                            profile_img_url:
                              type: string
                              example: https://storage.googleapis.com/opensea-static/opensea-profile/1.png
                            address:
                              type: string
                              example: '0x0000000000000000000000000000000000000000'
                            config:
                              type: string
                              example: ''
                        sell_orders: {}
                        creator:
                          type: object
                          properties:
                            user:
                              type: object
                              properties:
                                username:
                                  type: string
                                  example: AItisticEngineer
                            profile_img_url:
                              type: string
                              example: https://storage.googleapis.com/opensea-static/opensea-profile/3.png
                            address:
                              type: string
                              example: '0xe092ab4843725299968ed46ec6a6ae6c3232428e'
                            config:
                              type: string
                              example: ''
                        traits:
                          type: array
                        last_sale: {}
                        top_bid: {}
                        listing_date: {}
                        is_presale:
                          type: boolean
                          example: true
                          default: true
                        transfer_fee_payment_token: {}
                        transfer_fee: {}
                        token_id:
                          type: string
                          example: '101577219900953729483682340185834053539485491429073128558041914785105988026369'
      deprecated: false
      x-readme:
        code-samples:
          - language: curl
            code: 'curl --header "X-API-KEY: [YOUR_API_KEY]" --request GET -i --url ''https://api.opensea.io/api/v1/assets'''
        samples-languages:
          - curl
  /events:
    get:
      summary: Retrieve events
      description: ''
      operationId: retrieving-asset-events
      parameters:
        - name: only_opensea
          in: query
          description: Restrict to events on OpenSea auctions. Can be `true` or `false`
          schema:
            type: boolean
        - name: token_id
          in: query
          description: The token's id to optionally filter by
          schema:
            type: integer
            format: int32
        - name: asset_contract_address
          in: query
          description: The NFT contract address for the assets for which to show events
          schema:
            type: string
        - name: collection_slug
          in: query
          description: Limit responses to events from a collection.  Case sensitive and must match the collection slug exactly. Will return all assets from all contracts in a collection.  For more information on collections, see our [collections documentation](/reference#retrieving-collections).
          schema:
            type: string
        - name: collection_editor
          in: query
          schema:
            type: string
        - name: account_address
          in: query
          description: A user account's wallet address to filter for events on an account
          schema:
            type: string
        - name: event_type
          in: query
          description: The event type to filter. Can be `created` for new auctions, `successful` for sales, `cancelled`, `bid_entered`, `bid_withdrawn`, `transfer`, `offer_entered`, or `approve`
          schema:
            type: string
        - name: auction_type
          in: query
          description: Filter by an auction type. Can be `english` for English Auctions, `dutch` for fixed-price and declining-price sell orders (Dutch Auctions), or `min-price` for CryptoPunks bidding auctions.
          schema:
            type: string
        - name: occurred_before
          in: query
          description: Only show events listed before this timestamp. Seconds since the Unix epoch.
          schema:
            type: string
            format: date-time
        - name: occurred_after
          in: query
          description: Only show events listed after this timestamp. Seconds since the Unix epoch.
          schema:
            type: string
            format: date-time
        - name: cursor
          in: query
          description: A cursor pointing to the page to retrieve
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                       "next":"LWV2ZW50X3RpbWVzdGFtcD0yMDIyLTAyLTE4KzIwJTNBNDYlM0EzOC45NTc5NTYmLXBrPTM1NDYwOTA2NzQ%3D",
                       "previous":null,
                       "asset_events":[
                          {
                             "approved_account":null,
                             "asset":{
                                "id":17728562,
                                "num_sales":1,
                                "background_color":null,
                                "image_url":"https://lh3.googleusercontent.com/YAn9vef679uw9rJLNF-o3pLvV_8Mmqc6yfT-xSNGc5UWK5Heo1ieJwxHlwN5Q0kZqPmL0ru9WKAz9GcgR-Gwqfq-buu63dtRFdaS",
                                "image_preview_url":"https://lh3.googleusercontent.com/YAn9vef679uw9rJLNF-o3pLvV_8Mmqc6yfT-xSNGc5UWK5Heo1ieJwxHlwN5Q0kZqPmL0ru9WKAz9GcgR-Gwqfq-buu63dtRFdaS=s250",
                                "image_thumbnail_url":"https://lh3.googleusercontent.com/YAn9vef679uw9rJLNF-o3pLvV_8Mmqc6yfT-xSNGc5UWK5Heo1ieJwxHlwN5Q0kZqPmL0ru9WKAz9GcgR-Gwqfq-buu63dtRFdaS=s128",
                                "image_original_url":"https://hashmasksstore.blob.core.windows.net/hashmasks/12508.jpg",
                                "animation_url":null,
                                "animation_original_url":null,
                                "name":"Nobody",
                                "description":"⚠️ **ATTENTION**: Hashmask names can change at any time. Immediately before purchasing a Hashmask, enter the Hashmask's token ID into the `tokenNameByIndex` function on a site like [Etherscan](https://etherscan.io/address/0xc2c747e0f7004f9e8817db2ca4997657a7746928#readContract) to verify that the blockchain indicates that the Hashmask you're purchasing has the name you expect.\n\nHashmask #2367",
                                "external_link":"https://www.thehashmasks.com/detail/2367",
                                "asset_contract":{
                                   "address":"0xc2c747e0f7004f9e8817db2ca4997657a7746928",
                                   "asset_contract_type":"non-fungible",
                                   "created_date":"2021-01-28T10:22:01.756793",
                                   "name":"Hashmasks",
                                   "nft_version":"3.0",
                                   "opensea_version":null,
                                   "owner":18650025,
                                   "schema_name":"ERC721",
                                   "symbol":"HM",
                                   "total_supply":"0",
                                   "description":"Hashmasks are ancient traits and memories of the first travelers to Earth. Their journey here was long and hard. The Hashmasks forgot their names by the time they arrived. They left clues for us to unravel so that we could discover their meaning.\r\n\r\nAre you a curious lover of fine art? Join our community of passionate detectives. Come add to the Hashmasks story and discover the character behind your own mask!",
                                   "external_link":"https://www.thehashmasks.com/",
                                   "image_url":"https://lh3.googleusercontent.com/6X867ZmCsuYcjHpx-nmNkXeHaDFd2m-EDEEkExVLKETphkfcrpRJOyzFxRQlc-29J0e-9mB9uDGze0O9yracSA9ibnQm2sIq5i2Yuw=s120",
                                   "default_to_fiat":false,
                                   "dev_buyer_fee_basis_points":0,
                                   "dev_seller_fee_basis_points":250,
                                   "only_proxied_transfers":false,
                                   "opensea_buyer_fee_basis_points":0,
                                   "opensea_seller_fee_basis_points":250,
                                   "buyer_fee_basis_points":0,
                                   "seller_fee_basis_points":500,
                                   "payout_address":"0xd0eb98552f7dcafb237be28c1f9c8ae86a36e529"
                                },
                                "permalink":"https://opensea.io/assets/0xc2c747e0f7004f9e8817db2ca4997657a7746928/2367",
                                "collection":{
                                   "banner_image_url":"https://lh3.googleusercontent.com/D1SwtrOZMJRnc7aDHGX1ANHVsL67nPXOma5bVuvgVTlocTcVNs_t76YYI5FMfjfcDpgjV7get7jx2vLSjj4UefSiXuxJf75Rx7rwTg=s2500",
                                   "chat_url":null,
                                   "created_date":"2021-01-28T15:01:12.705115",
                                   "default_to_fiat":false,
                                   "description":"Hashmasks are ancient traits and memories of the first travelers to Earth. Their journey here was long and hard. The Hashmasks forgot their names by the time they arrived. They left clues for us to unravel so that we could discover their meaning.\r\n\r\nAre you a curious lover of fine art? Join our community of passionate detectives. Come add to the Hashmasks story and discover the character behind your own mask!",
                                   "dev_buyer_fee_basis_points":"0",
                                   "dev_seller_fee_basis_points":"250",
                                   "discord_url":"https://discord.gg/crJmxxzGuZ",
                                   "display_data":{
                                      "card_display_style":"contain"
                                   },
                                   "external_url":"https://www.thehashmasks.com/",
                                   "featured":false,
                                   "featured_image_url":"https://lh3.googleusercontent.com/BYDBYE7oDy9NvHq16DTm1AyDrqUDioEELqbcZ6LucKT6kPJh-4EkfAHZs2OjMzFKtZWZERZrXycWPekMfsNPM-OjyWNRjG6jU3bp=s300",
                                   "hidden":false,
                                   "safelist_request_status":"verified",
                                   "image_url":"https://lh3.googleusercontent.com/6X867ZmCsuYcjHpx-nmNkXeHaDFd2m-EDEEkExVLKETphkfcrpRJOyzFxRQlc-29J0e-9mB9uDGze0O9yracSA9ibnQm2sIq5i2Yuw=s120",
                                   "is_subject_to_whitelist":false,
                                   "large_image_url":"https://lh3.googleusercontent.com/BYDBYE7oDy9NvHq16DTm1AyDrqUDioEELqbcZ6LucKT6kPJh-4EkfAHZs2OjMzFKtZWZERZrXycWPekMfsNPM-OjyWNRjG6jU3bp=s300",
                                   "medium_username":null,
                                   "name":"Hashmasks",
                                   "only_proxied_transfers":false,
                                   "opensea_buyer_fee_basis_points":"0",
                                   "opensea_seller_fee_basis_points":"250",
                                   "payout_address":"0xd0eb98552f7dcafb237be28c1f9c8ae86a36e529",
                                   "require_email":false,
                                   "short_description":null,
                                   "slug":"hashmasks",
                                   "telegram_url":null,
                                   "twitter_username":"TheHashmasks",
                                   "instagram_username":null,
                                   "wiki_url":null
                                },
                                "decimals":0,
                                "token_metadata":"https://hashmap.azurewebsites.net/getMask/2367",
                                "owner":{
                                   "user":{
                                      "username":"UNDER-LORD"
                                   },
                                   "profile_img_url":"https://storage.googleapis.com/opensea-static/opensea-profile/4.png",
                                   "address":"0xb1fb83e08634c55fd505bbdc8f0441fc1ca3f47d",
                                   "config":""
                                },
                                "token_id":"2367"
                             },
                             "asset_bundle":null,
                             "auction_type":null,
                             "bid_amount":"530000000000000000",
                             "collection_slug":"hashmasks",
                             "contract_address":"0x7f268357a8c2552623316e2562d90e642bb538e5",
                             "created_date":"2022-02-18T20:46:38.984925",
                             "custom_event_name":null,
                             "dev_fee_payment_event":null,
                             "dev_seller_fee_basis_points":250,
                             "duration":null,
                             "ending_price":null,
                             "event_type":"offer_entered",
                             "from_account":{
                                "user":{
                                   "username":null
                                },
                                "profile_img_url":"https://storage.googleapis.com/opensea-static/opensea-profile/24.png",
                                "address":"0x5b86accb1d291c568693352c8138bb3cbdd4584f",
                                "config":""
                             },
                             "id":3546090674,
                             "is_private":null,
                             "owner_account":null,
                             "payment_token":{
                                "id":2,
                                "symbol":"WETH",
                                "address":"0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2",
                                "image_url":"https://storage.opensea.io/files/accae6b6fb3888cbff27a013729c22dc.svg",
                                "name":"Wrapped Ether",
                                "decimals":18,
                                "eth_price":"1.000000000000000",
                                "usd_price":"2792.170000000000073000"
                             },
                             "quantity":"1",
                             "seller":null,
                             "starting_price":null,
                             "to_account":null,
                             "total_price":null,
                             "transaction":null,
                             "winner_account":null,
                             "listing_time":null
                          }
                       ]
                    }
              schema:
                type: object
                properties:
                  next:
                    type: string
                    example: LWV2ZW50X3RpbWVzdGFtcD0yMDIyLTAyLTE4KzIwJTNBNDYlM0EzOC45NTc5NTYmLXBrPTM1NDYwOTA2NzQ%3D
                  previous: {}
                  asset_events:
                    type: array
                    items:
                      type: object
                      properties:
                        approved_account: {}
                        asset:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 17728562
                              default: 0
                            num_sales:
                              type: integer
                              example: 1
                              default: 0
                            background_color: {}
                            image_url:
                              type: string
                              example: https://lh3.googleusercontent.com/YAn9vef679uw9rJLNF-o3pLvV_8Mmqc6yfT-xSNGc5UWK5Heo1ieJwxHlwN5Q0kZqPmL0ru9WKAz9GcgR-Gwqfq-buu63dtRFdaS
                            image_preview_url:
                              type: string
                              example: https://lh3.googleusercontent.com/YAn9vef679uw9rJLNF-o3pLvV_8Mmqc6yfT-xSNGc5UWK5Heo1ieJwxHlwN5Q0kZqPmL0ru9WKAz9GcgR-Gwqfq-buu63dtRFdaS=s250
                            image_thumbnail_url:
                              type: string
                              example: https://lh3.googleusercontent.com/YAn9vef679uw9rJLNF-o3pLvV_8Mmqc6yfT-xSNGc5UWK5Heo1ieJwxHlwN5Q0kZqPmL0ru9WKAz9GcgR-Gwqfq-buu63dtRFdaS=s128
                            image_original_url:
                              type: string
                              example: https://hashmasksstore.blob.core.windows.net/hashmasks/12508.jpg
                            animation_url: {}
                            animation_original_url: {}
                            name:
                              type: string
                              example: Nobody
                            description:
                              type: string
                              example: |-
                                ⚠️ **ATTENTION**: Hashmask names can change at any time. Immediately before purchasing a Hashmask, enter the Hashmask's token ID into the `tokenNameByIndex` function on a site like [Etherscan](https://etherscan.io/address/0xc2c747e0f7004f9e8817db2ca4997657a7746928#readContract) to verify that the blockchain indicates that the Hashmask you're purchasing has the name you expect.

                                Hashmask #2367
                            external_link:
                              type: string
                              example: https://www.thehashmasks.com/detail/2367
                            asset_contract:
                              type: object
                              properties:
                                address:
                                  type: string
                                  example: '0xc2c747e0f7004f9e8817db2ca4997657a7746928'
                                asset_contract_type:
                                  type: string
                                  example: non-fungible
                                created_date:
                                  type: string
                                  example: '2021-01-28T10:22:01.756793'
                                name:
                                  type: string
                                  example: Hashmasks
                                nft_version:
                                  type: string
                                  example: '3.0'
                                opensea_version: {}
                                owner:
                                  type: integer
                                  example: 18650025
                                  default: 0
                                schema_name:
                                  type: string
                                  example: ERC721
                                symbol:
                                  type: string
                                  example: HM
                                total_supply:
                                  type: string
                                  example: '0'
                                description:
                                  type: string
                                  example: "Hashmasks are ancient traits and memories of the first travelers to Earth. Their journey here was long and hard. The Hashmasks forgot their names by the time they arrived. They left clues for us to unravel so that we could discover their meaning.\r\n\r\nAre you a curious lover of fine art? Join our community of passionate detectives. Come add to the Hashmasks story and discover the character behind your own mask!"
                                external_link:
                                  type: string
                                  example: https://www.thehashmasks.com/
                                image_url:
                                  type: string
                                  example: https://lh3.googleusercontent.com/6X867ZmCsuYcjHpx-nmNkXeHaDFd2m-EDEEkExVLKETphkfcrpRJOyzFxRQlc-29J0e-9mB9uDGze0O9yracSA9ibnQm2sIq5i2Yuw=s120
                                default_to_fiat:
                                  type: boolean
                                  example: false
                                  default: true
                                dev_buyer_fee_basis_points:
                                  type: integer
                                  example: 0
                                  default: 0
                                dev_seller_fee_basis_points:
                                  type: integer
                                  example: 250
                                  default: 0
                                only_proxied_transfers:
                                  type: boolean
                                  example: false
                                  default: true
                                opensea_buyer_fee_basis_points:
                                  type: integer
                                  example: 0
                                  default: 0
                                opensea_seller_fee_basis_points:
                                  type: integer
                                  example: 250
                                  default: 0
                                buyer_fee_basis_points:
                                  type: integer
                                  example: 0
                                  default: 0
                                seller_fee_basis_points:
                                  type: integer
                                  example: 500
                                  default: 0
                                payout_address:
                                  type: string
                                  example: '0xd0eb98552f7dcafb237be28c1f9c8ae86a36e529'
                            permalink:
                              type: string
                              example: https://opensea.io/assets/0xc2c747e0f7004f9e8817db2ca4997657a7746928/2367
                            collection:
                              type: object
                              properties:
                                banner_image_url:
                                  type: string
                                  example: https://lh3.googleusercontent.com/D1SwtrOZMJRnc7aDHGX1ANHVsL67nPXOma5bVuvgVTlocTcVNs_t76YYI5FMfjfcDpgjV7get7jx2vLSjj4UefSiXuxJf75Rx7rwTg=s2500
                                chat_url: {}
                                created_date:
                                  type: string
                                  example: '2021-01-28T15:01:12.705115'
                                default_to_fiat:
                                  type: boolean
                                  example: false
                                  default: true
                                description:
                                  type: string
                                  example: "Hashmasks are ancient traits and memories of the first travelers to Earth. Their journey here was long and hard. The Hashmasks forgot their names by the time they arrived. They left clues for us to unravel so that we could discover their meaning.\r\n\r\nAre you a curious lover of fine art? Join our community of passionate detectives. Come add to the Hashmasks story and discover the character behind your own mask!"
                                dev_buyer_fee_basis_points:
                                  type: string
                                  example: '0'
                                dev_seller_fee_basis_points:
                                  type: string
                                  example: '250'
                                discord_url:
                                  type: string
                                  example: https://discord.gg/crJmxxzGuZ
                                display_data:
                                  type: object
                                  properties:
                                    card_display_style:
                                      type: string
                                      example: contain
                                external_url:
                                  type: string
                                  example: https://www.thehashmasks.com/
                                featured:
                                  type: boolean
                                  example: false
                                  default: true
                                featured_image_url:
                                  type: string
                                  example: https://lh3.googleusercontent.com/BYDBYE7oDy9NvHq16DTm1AyDrqUDioEELqbcZ6LucKT6kPJh-4EkfAHZs2OjMzFKtZWZERZrXycWPekMfsNPM-OjyWNRjG6jU3bp=s300
                                hidden:
                                  type: boolean
                                  example: false
                                  default: true
                                safelist_request_status:
                                  type: string
                                  example: verified
                                image_url:
                                  type: string
                                  example: https://lh3.googleusercontent.com/6X867ZmCsuYcjHpx-nmNkXeHaDFd2m-EDEEkExVLKETphkfcrpRJOyzFxRQlc-29J0e-9mB9uDGze0O9yracSA9ibnQm2sIq5i2Yuw=s120
                                is_subject_to_whitelist:
                                  type: boolean
                                  example: false
                                  default: true
                                large_image_url:
                                  type: string
                                  example: https://lh3.googleusercontent.com/BYDBYE7oDy9NvHq16DTm1AyDrqUDioEELqbcZ6LucKT6kPJh-4EkfAHZs2OjMzFKtZWZERZrXycWPekMfsNPM-OjyWNRjG6jU3bp=s300
                                medium_username: {}
                                name:
                                  type: string
                                  example: Hashmasks
                                only_proxied_transfers:
                                  type: boolean
                                  example: false
                                  default: true
                                opensea_buyer_fee_basis_points:
                                  type: string
                                  example: '0'
                                opensea_seller_fee_basis_points:
                                  type: string
                                  example: '250'
                                payout_address:
                                  type: string
                                  example: '0xd0eb98552f7dcafb237be28c1f9c8ae86a36e529'
                                require_email:
                                  type: boolean
                                  example: false
                                  default: true
                                short_description: {}
                                slug:
                                  type: string
                                  example: hashmasks
                                telegram_url: {}
                                twitter_username:
                                  type: string
                                  example: TheHashmasks
                                instagram_username: {}
                                wiki_url: {}
                            decimals:
                              type: integer
                              example: 0
                              default: 0
                            token_metadata:
                              type: string
                              example: https://hashmap.azurewebsites.net/getMask/2367
                            owner:
                              type: object
                              properties:
                                user:
                                  type: object
                                  properties:
                                    username:
                                      type: string
                                      example: UNDER-LORD
                                profile_img_url:
                                  type: string
                                  example: https://storage.googleapis.com/opensea-static/opensea-profile/4.png
                                address:
                                  type: string
                                  example: '0xb1fb83e08634c55fd505bbdc8f0441fc1ca3f47d'
                                config:
                                  type: string
                                  example: ''
                            token_id:
                              type: string
                              example: '2367'
                        asset_bundle: {}
                        auction_type: {}
                        bid_amount:
                          type: string
                          example: '530000000000000000'
                        collection_slug:
                          type: string
                          example: hashmasks
                        contract_address:
                          type: string
                          example: '0x7f268357a8c2552623316e2562d90e642bb538e5'
                        created_date:
                          type: string
                          example: '2022-02-18T20:46:38.984925'
                        custom_event_name: {}
                        dev_fee_payment_event: {}
                        dev_seller_fee_basis_points:
                          type: integer
                          example: 250
                          default: 0
                        duration: {}
                        ending_price: {}
                        event_type:
                          type: string
                          example: offer_entered
                        from_account:
                          type: object
                          properties:
                            user:
                              type: object
                              properties:
                                username: {}
                            profile_img_url:
                              type: string
                              example: https://storage.googleapis.com/opensea-static/opensea-profile/24.png
                            address:
                              type: string
                              example: '0x5b86accb1d291c568693352c8138bb3cbdd4584f'
                            config:
                              type: string
                              example: ''
                        id:
                          type: integer
                          example: 3546090674
                          default: 0
                        is_private: {}
                        owner_account: {}
                        payment_token:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 2
                              default: 0
                            symbol:
                              type: string
                              example: WETH
                            address:
                              type: string
                              example: '0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2'
                            image_url:
                              type: string
                              example: https://storage.opensea.io/files/accae6b6fb3888cbff27a013729c22dc.svg
                            name:
                              type: string
                              example: Wrapped Ether
                            decimals:
                              type: integer
                              example: 18
                              default: 0
                            eth_price:
                              type: string
                              example: '1.000000000000000'
                            usd_price:
                              type: string
                              example: '2792.170000000000073000'
                        quantity:
                          type: string
                          example: '1'
                        seller: {}
                        starting_price: {}
                        to_account: {}
                        total_price: {}
                        transaction: {}
                        winner_account: {}
                        listing_time: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
  /bundles:
    get:
      summary: Retrieve bundles
      description: ''
      operationId: retrieving-bundles
      parameters:
        - name: on_sale
          in: query
          description: If set to `true`, only show bundles currently on sale. If set to `false`, only show bundles that have been sold or cancelled.
          schema:
            type: boolean
        - name: owner
          in: query
          description: Account address of the owner of a bundle (and all assets within)
          schema:
            type: string
        - name: asset_contract_address
          in: query
          description: Contract address of all the assets in a bundle. Only works for homogenous bundles, not mixed ones.
          schema:
            type: string
        - name: asset_contract_addresses
          in: query
          description: An array of contract addresses to search for (e.g. `?asset_contract_addresses=0x1...&asset_contract_addresses=0x2...`). Will return a list of bundles with assets having contracts that match ALL of the addresses in this array. Useful for querying for mixed bundles, e.g. ones with CryptoKitties AND CK Talisman statues.
          schema:
            type: string
        - name: token_ids
          in: query
          description: A list of token IDs for showing only bundles with at least one of the token IDs in the list
          schema:
            type: string
        - name: limit
          in: query
          description: 'For pagination: how many results to return'
          schema:
            type: string
            default: '20'
        - name: offset
          in: query
          description: 'For pagination: the index of the result to start at (beginning with 0)'
          schema:
            type: string
            default: '0'
      deprecated: false
      security: []
  /asset_contract/{asset_contract_address}:
    get:
      summary: Retrieve a contract
      description: ''
      operationId: retrieving-a-single-contract
      parameters:
        - name: X-API-KEY
          in: header
          description: Your API Key (contact us to request one!)
          schema:
            type: string
        - name: asset_contract_address
          in: path
          description: Address of the contract
          schema:
            type: string
            default: '0x06012c8cf97bead5deae237070f9587f8e7a266d'
          required: true
      deprecated: false
      security: []
  /collections:
    get:
      summary: Retrieve collections
      description: ''
      operationId: retrieving-collections
      parameters:
        - name: asset_owner
          in: query
          description: A wallet address. If specified, will return collections where the owner owns at least one asset belonging to smart contracts in the collection. The number of assets the account owns is shown as `owned_asset_count` for each collection.
          schema:
            type: string
        - name: offset
          in: query
          description: For pagination. Number of contracts offset from the beginning of the result list.
          schema:
            type: integer
            format: int32
            default: 0
        - name: limit
          in: query
          description: For pagination. Maximum number of contracts to return.
          schema:
            type: integer
            format: int32
            default: 300
        - name: X-API-KEY
          in: header
          description: Your optional API Key (contact us to request one!)
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                     "collection": [
                        {
                           "banner_image_url" : "https://lh3.googleusercontent.com/iUwczcA9bw-JwPIm9jTiOG3b_qK9nqxs_Fn3GXs74pvkBY7toLN2JhgoPgriFS6ivSmcErC7USjZJqLTiQpYuU40kzJLfkfJpPnY=s2500",
                           "chat_url" : null,
                           "created_date" : "2021-12-17T01:05:06.570334",
                           "default_to_fiat" : false,
                           "description" : "Bored Ape Yacht Club, PUNKS Comic, and gmoney welcome adidas Originals into the Metaverse.",
                           "dev_buyer_fee_basis_points" : "0",
                           "dev_seller_fee_basis_points" : "1000",
                           "discord_url" : "https://discord.gg/invite/pixelvault",
                           "display_data" : {
                            "card_display_style" : "cover"
                           },
                           "external_url" : "https://www.adidas.com/into_the_metaverse",
                           "featured" : false,
                           "featured_image_url" : "https://lh3.googleusercontent.com/2nK8wyx608AmNkXGGlnAwBk7bQMSXgJJ_M3NCnqz1djHlfwjQTFmHrxKYOGEoC5HIp70P7p3YSljzQIv3qSGHhhCnuaUO2tGQ1gD=s300",
                           "hidden" : false,
                           "image_url" : "https://lh3.googleusercontent.com/_wXtGDZ07ZelRfyfqDQkhoTX_feD_w3wdFuJ25z2ZLA1R6GFzuQ2jOGURRS8d7UEJGJd1svd61tZnGRS4zN-VXTUUVmg8Wymt-Uk=s120",
                           "instagram_username" : "adidasoriginals",
                           "is_subject_to_whitelist" : false,
                           "large_image_url" : "https://lh3.googleusercontent.com/2nK8wyx608AmNkXGGlnAwBk7bQMSXgJJ_M3NCnqz1djHlfwjQTFmHrxKYOGEoC5HIp70P7p3YSljzQIv3qSGHhhCnuaUO2tGQ1gD=s300",
                           "medium_username" : null,
                           "name" : "adidas Originals Into the Metaverse",
                           "only_proxied_transfers" : false,
                           "opensea_buyer_fee_basis_points" : "0",
                           "opensea_seller_fee_basis_points" : "250",
                           "owned_asset_count" : 1,
                           "payout_address" : "0x81e572fe2d89c5e90f68e7040da372543afbab57",
                           "primary_asset_contracts" : [
                            {
                             "address" : "0x28472a58a490c5e09a238847f66a68a47cc76f0f",
                             "asset_contract_type" : "semi-fungible",
                             "buyer_fee_basis_points" : 0,
                             "created_date" : "2021-12-17T01:04:49.145948",
                             "default_to_fiat" : false,
                             "description" : "Bored Ape Yacht Club, PUNKS Comic, and gmoney welcome adidas Originals into the Metaverse.",
                             "dev_buyer_fee_basis_points" : 0,
                             "dev_seller_fee_basis_points" : 1000,
                             "external_link" : "https://www.adidas.com/into_the_metaverse",
                             "image_url" : "https://lh3.googleusercontent.com/_wXtGDZ07ZelRfyfqDQkhoTX_feD_w3wdFuJ25z2ZLA1R6GFzuQ2jOGURRS8d7UEJGJd1svd61tZnGRS4zN-VXTUUVmg8Wymt-Uk=s120",
                             "name" : "adidas Originals: Into the Metaverse",
                             "nft_version" : null,
                             "only_proxied_transfers" : false,
                             "opensea_buyer_fee_basis_points" : 0,
                             "opensea_seller_fee_basis_points" : 250,
                             "opensea_version" : null,
                             "owner" : 175532632,
                             "payout_address" : "0x81e572fe2d89c5e90f68e7040da372543afbab57",
                             "schema_name" : "ERC1155",
                             "seller_fee_basis_points" : 1250,
                             "symbol" : "ADI",
                             "total_supply" : null
                            }
                           ],
                           "require_email" : false,
                           "safelist_request_status" : "verified",
                           "short_description" : null,
                           "slug" : "adidasoriginals",
                           "stats" : {
                            "average_price" : 0.756851871714953,
                            "count" : 1,
                            "floor_price" : 0,
                            "market_cap" : 0.873166705288504,
                            "num_owners" : 21306,
                            "num_reports" : 2,
                            "one_day_average_price" : 0.806531100917431,
                            "one_day_change" : -0.201157573484161,
                            "one_day_sales" : 109,
                            "one_day_volume" : 87.91189,
                            "seven_day_average_price" : 0.873166705288504,
                            "seven_day_change" : -0.0895652510489594,
                            "seven_day_sales" : 1261,
                            "seven_day_volume" : 1101.0632153688,
                            "thirty_day_average_price" : 0.756851871714945,
                            "thirty_day_change" : 0,
                            "thirty_day_sales" : 21792,
                            "thirty_day_volume" : 16493.3159884121,
                            "total_sales" : 21792,
                            "total_supply" : 1,
                            "total_volume" : 16493.3159884122
                           },
                           "telegram_url" : null,
                           "traits" : {},
                           "twitter_username" : "adidasoriginals",
                           "wiki_url" : null
                        }
                       ]
                    }
              schema:
                type: object
                properties:
                  collection:
                    type: array
                    items:
                      type: object
                      properties:
                        banner_image_url:
                          type: string
                          example: https://lh3.googleusercontent.com/iUwczcA9bw-JwPIm9jTiOG3b_qK9nqxs_Fn3GXs74pvkBY7toLN2JhgoPgriFS6ivSmcErC7USjZJqLTiQpYuU40kzJLfkfJpPnY=s2500
                        chat_url: {}
                        created_date:
                          type: string
                          example: '2021-12-17T01:05:06.570334'
                        default_to_fiat:
                          type: boolean
                          example: false
                          default: true
                        description:
                          type: string
                          example: Bored Ape Yacht Club, PUNKS Comic, and gmoney welcome adidas Originals into the Metaverse.
                        dev_buyer_fee_basis_points:
                          type: string
                          example: '0'
                        dev_seller_fee_basis_points:
                          type: string
                          example: '1000'
                        discord_url:
                          type: string
                          example: https://discord.gg/invite/pixelvault
                        display_data:
                          type: object
                          properties:
                            card_display_style:
                              type: string
                              example: cover
                        external_url:
                          type: string
                          example: https://www.adidas.com/into_the_metaverse
                        featured:
                          type: boolean
                          example: false
                          default: true
                        featured_image_url:
                          type: string
                          example: https://lh3.googleusercontent.com/2nK8wyx608AmNkXGGlnAwBk7bQMSXgJJ_M3NCnqz1djHlfwjQTFmHrxKYOGEoC5HIp70P7p3YSljzQIv3qSGHhhCnuaUO2tGQ1gD=s300
                        hidden:
                          type: boolean
                          example: false
                          default: true
                        image_url:
                          type: string
                          example: https://lh3.googleusercontent.com/_wXtGDZ07ZelRfyfqDQkhoTX_feD_w3wdFuJ25z2ZLA1R6GFzuQ2jOGURRS8d7UEJGJd1svd61tZnGRS4zN-VXTUUVmg8Wymt-Uk=s120
                        instagram_username:
                          type: string
                          example: adidasoriginals
                        is_subject_to_whitelist:
                          type: boolean
                          example: false
                          default: true
                        large_image_url:
                          type: string
                          example: https://lh3.googleusercontent.com/2nK8wyx608AmNkXGGlnAwBk7bQMSXgJJ_M3NCnqz1djHlfwjQTFmHrxKYOGEoC5HIp70P7p3YSljzQIv3qSGHhhCnuaUO2tGQ1gD=s300
                        medium_username: {}
                        name:
                          type: string
                          example: adidas Originals Into the Metaverse
                        only_proxied_transfers:
                          type: boolean
                          example: false
                          default: true
                        opensea_buyer_fee_basis_points:
                          type: string
                          example: '0'
                        opensea_seller_fee_basis_points:
                          type: string
                          example: '250'
                        owned_asset_count:
                          type: integer
                          example: 1
                          default: 0
                        payout_address:
                          type: string
                          example: '0x81e572fe2d89c5e90f68e7040da372543afbab57'
                        primary_asset_contracts:
                          type: array
                          items:
                            type: object
                            properties:
                              address:
                                type: string
                                example: '0x28472a58a490c5e09a238847f66a68a47cc76f0f'
                              asset_contract_type:
                                type: string
                                example: semi-fungible
                              buyer_fee_basis_points:
                                type: integer
                                example: 0
                                default: 0
                              created_date:
                                type: string
                                example: '2021-12-17T01:04:49.145948'
                              default_to_fiat:
                                type: boolean
                                example: false
                                default: true
                              description:
                                type: string
                                example: Bored Ape Yacht Club, PUNKS Comic, and gmoney welcome adidas Originals into the Metaverse.
                              dev_buyer_fee_basis_points:
                                type: integer
                                example: 0
                                default: 0
                              dev_seller_fee_basis_points:
                                type: integer
                                example: 1000
                                default: 0
                              external_link:
                                type: string
                                example: https://www.adidas.com/into_the_metaverse
                              image_url:
                                type: string
                                example: https://lh3.googleusercontent.com/_wXtGDZ07ZelRfyfqDQkhoTX_feD_w3wdFuJ25z2ZLA1R6GFzuQ2jOGURRS8d7UEJGJd1svd61tZnGRS4zN-VXTUUVmg8Wymt-Uk=s120
                              name:
                                type: string
                                example: 'adidas Originals: Into the Metaverse'
                              nft_version: {}
                              only_proxied_transfers:
                                type: boolean
                                example: false
                                default: true
                              opensea_buyer_fee_basis_points:
                                type: integer
                                example: 0
                                default: 0
                              opensea_seller_fee_basis_points:
                                type: integer
                                example: 250
                                default: 0
                              opensea_version: {}
                              owner:
                                type: integer
                                example: 175532632
                                default: 0
                              payout_address:
                                type: string
                                example: '0x81e572fe2d89c5e90f68e7040da372543afbab57'
                              schema_name:
                                type: string
                                example: ERC1155
                              seller_fee_basis_points:
                                type: integer
                                example: 1250
                                default: 0
                              symbol:
                                type: string
                                example: ADI
                              total_supply: {}
                        require_email:
                          type: boolean
                          example: false
                          default: true
                        safelist_request_status:
                          type: string
                          example: verified
                        short_description: {}
                        slug:
                          type: string
                          example: adidasoriginals
                        stats:
                          type: object
                          properties:
                            average_price:
                              type: number
                              example: 0.756851871714953
                              default: 0
                            count:
                              type: integer
                              example: 1
                              default: 0
                            floor_price:
                              type: integer
                              example: 0
                              default: 0
                            market_cap:
                              type: number
                              example: 0.873166705288504
                              default: 0
                            num_owners:
                              type: integer
                              example: 21306
                              default: 0
                            num_reports:
                              type: integer
                              example: 2
                              default: 0
                            one_day_average_price:
                              type: number
                              example: 0.806531100917431
                              default: 0
                            one_day_change:
                              type: number
                              example: -0.201157573484161
                              default: 0
                            one_day_sales:
                              type: integer
                              example: 109
                              default: 0
                            one_day_volume:
                              type: number
                              example: 87.91189
                              default: 0
                            seven_day_average_price:
                              type: number
                              example: 0.873166705288504
                              default: 0
                            seven_day_change:
                              type: number
                              example: -0.0895652510489594
                              default: 0
                            seven_day_sales:
                              type: integer
                              example: 1261
                              default: 0
                            seven_day_volume:
                              type: number
                              example: 1101.0632153688
                              default: 0
                            thirty_day_average_price:
                              type: number
                              example: 0.756851871714945
                              default: 0
                            thirty_day_change:
                              type: integer
                              example: 0
                              default: 0
                            thirty_day_sales:
                              type: integer
                              example: 21792
                              default: 0
                            thirty_day_volume:
                              type: number
                              example: 16493.3159884121
                              default: 0
                            total_sales:
                              type: integer
                              example: 21792
                              default: 0
                            total_supply:
                              type: integer
                              example: 1
                              default: 0
                            total_volume:
                              type: number
                              example: 16493.3159884122
                              default: 0
                        telegram_url: {}
                        traits:
                          type: object
                          properties: {}
                        twitter_username:
                          type: string
                          example: adidasoriginals
                        wiki_url: {}
      deprecated: false
      security: []
  /collection/{collection_slug}:
    get:
      summary: Retrieve a collection
      description: ''
      operationId: retrieving-a-single-collection
      parameters:
        - name: X-API-KEY
          in: header
          description: Your optional API Key (contact us to request one!)
          schema:
            type: string
        - name: collection_slug
          in: path
          description: The collection slug of this collection that is used to uniquely link to this collection on OpenSea
          schema:
            type: string
            default: doodles-official
          required: true
      deprecated: false
      security: []
  /collection/{collection_slug}/stats:
    get:
      summary: Retrieve collection stats
      description: ''
      operationId: retrieving-collection-stats
      parameters:
        - name: X-API-KEY
          in: header
          description: Your optional API Key (contact us to request one!)
          schema:
            type: string
        - name: collection_slug
          in: path
          description: The collection slug
          schema:
            type: string
            default: doodles-official
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: ''
      deprecated: false
      security: []
  /asset/{asset_contract_address}/{token_id}/validate:
    get:
      summary: Validate an asset
      description: ''
      operationId: validate-assets
      parameters:
        - name: asset_contract_address
          in: path
          description: Address of the contract for this NFT
          schema:
            type: string
            default: '0xbc4ca0eda7647a8ab7c2061c2e118a18a936f13d'
          required: true
        - name: token_id
          in: path
          description: Token ID for this item
          schema:
            type: string
            default: '1'
          required: true
        - name: X-API-KEY
          in: header
          schema:
            type: string
        - name: validate
          in: path
          description: Adding the validate string
          schema:
            type: string
            default: validate
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "listings": [
                            {
                                "created_date": "2022-02-22T20:18:20.751937",
                                "closing_date": "2022-03-01T20:17:54",
                                "closing_extendable": false,
                                "expiration_time": 1646165874,
                                "listing_time": 1645560983,
                                "order_hash": "0xe958d6aaa7c80881df87b99ca2b4dbb7511320d203eaf892596d2fcc4bb77ae0",
                                "metadata": {
                                    "asset": {
                                        "id": "852",
                                        "address": "0x7470ea065e50e3862cd9b8fb7c77712165da80e5"
                                    },
                                    "schema": "ERC721"
                                },
                                "exchange": "0xdd54d660178b28f6033a953b0e55073cfa7e3744",
                                "maker": {
                                    "user": {
                                        "username": "aminech-7890olm"
                                    },
                                    "profile_img_url": "https://storage.googleapis.com/opensea-static/opensea-profile/4.png",
                                    "address": "0x29ed84080ee0c1590ae1380c41b1300261b00171",
                                    "config": ""
                                },
                                "taker": {
                                    "user": {
                                        "username": "NullAddress"
                                    },
                                    "profile_img_url": "https://storage.googleapis.com/opensea-static/opensea-profile/1.png",
                                    "address": "0x0000000000000000000000000000000000000000",
                                    "config": ""
                                },
                                "current_price": "15000000000000000000.00000000",
                                "current_bounty": "150000000000000000",
                                "bounty_multiple": "0.01",
                                "maker_relayer_fee": "250",
                                "taker_relayer_fee": "0",
                                "maker_protocol_fee": "0",
                                "taker_protocol_fee": "0",
                                "maker_referrer_fee": "0",
                                "fee_recipient": {
                                    "user": {
                                        "username": null
                                    },
                                    "profile_img_url": "https://storage.googleapis.com/opensea-static/opensea-profile/28.png",
                                    "address": "0x5b3256965e7c3cf26e11fcaf296dfc8807c01073",
                                    "config": ""
                                },
                                "fee_method": 1,
                                "side": 1,
                                "sale_kind": 0,
                                "target": "0x45b594792a5cdc008d0de1c1d69faa3d16b3ddc1",
                                "how_to_call": 1,
                                "calldata": "0xfb16a59500000000000000000000000029ed84080ee0c1590ae1380c41b1300261b0017100000000000000000000000000000000000000000000000000000000000000000000000000000000000000007470ea065e50e3862cd9b8fb7c77712165da80e50000000000000000000000000000000000000000000000000000000000000354000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000c00000000000000000000000000000000000000000000000000000000000000000",
                                "replacement_pattern": "0x000000000000000000000000000000000000000000000000000000000000000000000000ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000",
                                "static_target": "0x0000000000000000000000000000000000000000",
                                "static_extradata": "0x",
                                "payment_token": "0x0000000000000000000000000000000000000000",
                                "payment_token_contract": {
                                    "id": 2,
                                    "symbol": "ETH",
                                    "address": "0x0000000000000000000000000000000000000000",
                                    "image_url": "https://storage.opensea.io/files/6f8e2979d428180222796ff4a33ab929.svg",
                                    "name": null,
                                    "decimals": 18,
                                    "eth_price": "1.000000000000000",
                                    "usd_price": "405.649999999999977263"
                                },
                                "base_price": "15000000000000000000",
                                "extra": "0",
                                "quantity": "1",
                                "salt": "1483016704946104104238999363521197893010432931364052566709160760601145068677",
                                "v": 27,
                                "r": "0x183f86fb7b61daafa77d7b334673a5c663486cc5f6d60b9a4e72fe35ca7bfb3c",
                                "s": "0x1f9484e116ce43a70b268a7db5daf71be1511767e66499dc8d6d0937dabe97f4",
                                "approved_on_chain": false,
                                "cancelled": false,
                                "finalized": false,
                                "marked_invalid": false,
                                "prefixed_hash": "0x486a261373b93871d6ba6a2932c6eb57feb3d50e235126245a42f8cb61822d6b"
                            }
                        ]
                    }
              schema:
                type: object
                properties:
                  listings:
                    type: array
                    items:
                      type: object
                      properties:
                        created_date:
                          type: string
                          example: '2022-02-22T20:18:20.751937'
                        closing_date:
                          type: string
                          example: '2022-03-01T20:17:54'
                        closing_extendable:
                          type: boolean
                          example: false
                          default: true
                        expiration_time:
                          type: integer
                          example: 1646165874
                          default: 0
                        listing_time:
                          type: integer
                          example: 1645560983
                          default: 0
                        order_hash:
                          type: string
                          example: '0xe958d6aaa7c80881df87b99ca2b4dbb7511320d203eaf892596d2fcc4bb77ae0'
                        metadata:
                          type: object
                          properties:
                            asset:
                              type: object
                              properties:
                                id:
                                  type: string
                                  example: '852'
                                address:
                                  type: string
                                  example: '0x7470ea065e50e3862cd9b8fb7c77712165da80e5'
                            schema:
                              type: string
                              example: ERC721
                        exchange:
                          type: string
                          example: '0xdd54d660178b28f6033a953b0e55073cfa7e3744'
                        maker:
                          type: object
                          properties:
                            user:
                              type: object
                              properties:
                                username:
                                  type: string
                                  example: aminech-7890olm
                            profile_img_url:
                              type: string
                              example: https://storage.googleapis.com/opensea-static/opensea-profile/4.png
                            address:
                              type: string
                              example: '0x29ed84080ee0c1590ae1380c41b1300261b00171'
                            config:
                              type: string
                              example: ''
                        taker:
                          type: object
                          properties:
                            user:
                              type: object
                              properties:
                                username:
                                  type: string
                                  example: NullAddress
                            profile_img_url:
                              type: string
                              example: https://storage.googleapis.com/opensea-static/opensea-profile/1.png
                            address:
                              type: string
                              example: '0x0000000000000000000000000000000000000000'
                            config:
                              type: string
                              example: ''
                        current_price:
                          type: string
                          example: '15000000000000000000.00000000'
                        current_bounty:
                          type: string
                          example: '150000000000000000'
                        bounty_multiple:
                          type: string
                          example: '0.01'
                        maker_relayer_fee:
                          type: string
                          example: '250'
                        taker_relayer_fee:
                          type: string
                          example: '0'
                        maker_protocol_fee:
                          type: string
                          example: '0'
                        taker_protocol_fee:
                          type: string
                          example: '0'
                        maker_referrer_fee:
                          type: string
                          example: '0'
                        fee_recipient:
                          type: object
                          properties:
                            user:
                              type: object
                              properties:
                                username: {}
                            profile_img_url:
                              type: string
                              example: https://storage.googleapis.com/opensea-static/opensea-profile/28.png
[...]
